@use "../../styles/mixin/colors" as colors;

.form-input {
  width: 300px;
  margin-bottom: 1rem;
  span {
    display: none;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: colors.$primary;
  }
  input {
    width: 100%;
    padding: 0.5rem;
    background-color: colors.$white;
    &:invalid.focused ~ span{
      display: block;
      margin-bottom: 0;
    }
  }
}