@use "../../../styles/mixin/colors" as colors;

.checkout-form {
  width: 100%;
  form {
    width: 100%;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    .create-button {
      background-color: colors.$secondary;
      color: colors.$text-primary;
    }
  }
}