.about {
  width: 100%;
  height: 100vh;
  .about_container {
    height: 100%;
    .about_content {
      max-width: 1200px;
      height: 66.666667%;
      margin: 0 auto;
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      .about_content_paragraph {
        color: #333;
        max-width: 300px;
        &:nth-child(1) {
          margin-bottom: 1rem;
        }
      }
      .about_content_image {
        width: 400px;
        height: 260px;
        display: none;
        object-fit: cover;
        border-radius: 0.5rem;
      }
      .about_content_image-description {
        display: none;
        width: 100%;
        text-align: center;
        margin-top: 0.5rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
      }
    }
  }
}

@media (min-width: 768px) { 
  .about {
    .about_container {
      .about_content {
        flex-direction: row;
        .about_content_paragraph {
          font-size: 1.25rem;
          line-height: 1.75rem;
          max-width: 500px;
        }
        .about_content_image {
          display: block;
        }
        .about_content_image-description {
          display: block;
        }
      }
    }
  }
 }