@use "../../styles/abstracts/colors" as *;

.products-intro {
  width: 100%;
  height: 100vh;
  .products-intro_container {
    height: 100%;
    .products-intro_content {
      max-width: 1200px;
      height: 66.666667%;
      margin: 0 auto;
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      .products-intro_content_title {
        display: inline;
        font-size: 2.25rem;
        line-height: 2.5rem;
        font-weight: bold;
        border-bottom: 4px solid $primary;
      }
      .products-intro_content_paragraph {
        margin-top: 1.5rem;
        color: $text-primary;
        max-width: 300px;
        text-align: justify;
      }
      .products-intro_content_image {
        width: 400px;
        height: 260px;
        display: none;
        object-fit: cover;
        border-radius: 0.5rem;
      }
      .products-intro_content_image-description {
        display: none;
        width: 100%;
        text-align: center;
        margin-top: 0.5rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
      }
    }
  }
}

@media (min-width: 768px) { 
  .products-intro {
    .products-intro_container {
      .products-intro_content {
        flex-direction: row;
        .products-intro_content_paragraph {
          font-size: 1.25rem;
          line-height: 1.75rem;
          max-width: 450px;
        }
        .products-intro_content_image {
          display: block;
        }
        .products-intro_content_image-description {
          display: block;
        }
      }
    }
  }
 }