@use "../../styles/mixin/screens" as screens;

.products-list {
  min-height: 20rem;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 15px 10px;
  padding: 10px;
}

.products-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  .btn {
    width: 4rem;
    padding: 0;
  }
}

@include screens.tablet {
  .products-list {
    grid-template-columns: auto auto auto;
  }
}

@include screens.desktop {
  .products-list {
    grid-template-columns: auto auto auto auto;
  }
}