@use "../../styles/abstracts/colors" as *;

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $dark-300;
  padding: 1rem 0;
  div {
    flex: 1;
  }
  .cart-item_information,
  .cart-item_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      padding: 0 1rem;
    }
  }
  .remove {
    background-color: $secondary;
    color: $text-primary;
    margin-right: .5rem;
    &:hover {
      color: $danger-primary;
    }
  }
  .count {
    margin: 0 10px
  }
  img {
    width: 5rem;
    object-fit: cover;
    margin-left: 40px;
  }
}