.product-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-width: 30rem;
  height: 100%;
  border: 1px solid lightgray;
  border-radius: 20px;
  word-wrap: break-word;
  div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  img {
    width: 100%;
    border-radius: 20px 20px 0 0;
  }
  h3 {
    margin: 0;
    padding: 1rem;
  }
  button {
    width: 50%;
  }
}