@use "../../styles/abstracts/colors" as *;

.products {
  .products_main {
    padding-top: 80px;
    display: flex;
    flex-direction: column-reverse;
    .main {
      flex: 3;
    }
    .sidebar {
      flex: 1;
    }
  }
  
  @media (min-width: 768px) { 
    .products_main {
      display: flex;
      flex-direction: row;
    }  
  }
}