.values {
  width: 100%;
  height: 100vh;
  .values_container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    .values_paragraph {
      min-height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .values_paragraph_title {
        color: #ff6363;
        margin-bottom: 0.5rem; 
        font-size: 1.5rem;
        line-height: 2rem; 
        font-weight: bold; 
      }
      .values_paragraph_text {
        max-width: 300px;
      }
    }
  }
}

@media (min-width: 768px) {
  .values {
    width: 100%;
    height: 100vh;
    .values_container {
      flex-direction: row;
      .values_paragraph {
        .values_paragraph_text {
          max-width: 500px;
        }
      }
    }
  }
}