.orders {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  h1 {
    text-align: center;
  }
  .orders_empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .orders_list {
    table {
      thead {
        th{
          padding: 10px;
        }
      }
      tbody{
        td{
          padding: 5px;
        }
      }
    }
  }
}